* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(0, 255, 187);
  color: #212121;
  line-height: 1.4;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
  margin-top: 30px;
}

.field {
  position: relative;
  text-align: center;
  background-color: red;
  padding: 20px;
  border-radius: 25px;
  box-shadow: -3px -3px 1px 1px rgba(124, 113, 168, 0.2);
}

.field:not(:last-child)::after {
  content: ':';
  position: absolute;
  font-size: 55px;
  right: -30px;
  top: 40px;
}

span {
  display: block;
}

.value {
  font-size: 72px;
  color: #3a3a3a;
}

.label {
  font-size: 20px;
}

.button {
  color: red;
  background-color: #fff;
  box-shadow: 1px 1px 1px 1px rgba(22, 22, 23, 0.2);
}

.flatpickr-input {
  text-align: center;
  box-shadow: 1px 1px 1px 1px rgba(22, 22, 23, 0.2);
}